:root {
  --primary-1-5: #f6f4ff;
  --primary-1-10: #e3ddfe;
  --primary-1-20: #c2b5ff;
  --primary-1-30: #8a71fc;
  --primary-1-40: #603dff;
  --primary-1-50: #30f;
  --primary-1-60: #2c05c9;
  --primary-1-70: #1e0094;
  --primary-1-80: #1a0769;
  --primary-1-90: #000051;
  --primary-1-100: #003;
  --primary-brand: var(--primary-1-50);
  --neutral-0: #fff;
  --neutral-1: #333;
  --neutral-2: #606060;
  --neutral-3: #9799a1;
  --neutral-4: #e7e8e9;
  --neutral-5: #f6f6f6;
  --neutral-6: #fbfbfb;
  --confirmation: #17ab4d;
  --confirmation-1: #64c789;
  --confirmation-2: #bae6ca;
  --confirmation-3: #dcf3e5;
  --error: #ff7a7a;
  --error-1: #fe9393;
  --error-2: #ffadad;
  --error-3: #fccdcd;
  --warning: #fbc40a;
  --warning-1: #fbc40a;
  --warning-2: #f8c471;
  --warning-3: #fffae9;
  --tertiary-yellow-700: #f90;
  --tertiary-yellow-500: #fc3;
  --tertiary-yellow-100: #ff9;
  --tertiary-orange-700: #f30;
  --tertiary-orange-500: #f60;
  --tertiary-orange-100: #fc9;
  --tertiary-pink-700: #903;
  --tertiary-pink-500: #f06;
  --tertiary-pink-100: #f9c;
  --tertiary-purple-700: #90c;
  --tertiary-purple-500: #c3c;
  --tertiary-purple-100: #f9f;
  --tertiary-lilac-700: #4417cd;
  --tertiary-lilac-500: #63f;
  --tertiary-lilac-100: #99f;
  --tertiary-blue-700: #013399;
  --tertiary-blue-500: #06f;
  --tertiary-blue-100: #9cf;
  --tertiary-green-700: #090;
  --tertiary-green-500: #99cc01;
  --toastify-color-light: var(--neutral-0);
  --toastify-color-dark: var(--primary-1-100);
  --toastify-color-info: var(--tertiary-blue-700);
  --toastify-color-success: var(--confirmation);
  --toastify-color-warning: var(--warning);
  --toastify-color-error: var(--error);
  --toastify-color-transparent: rgb(255 255 255 / 70%);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --max-width-container: 1120px;
  --swiper-pagination-bullet-inactive-color: var(--neutral-0);
  --swiper-pagination-color: var(--neutral-3);

  --order-tracking-registered-bg: var(--tertiary-pink-500);
  --order-tracking-preparation-bg: var(--tertiary-orange-500);
  --order-tracking-ready-to-deliver-bg: var(--confirmation);
  --order-tracking-delivered-bg: var(--tertiary-lilac-500);
  --order-tracking-canceled-bg: var(--error);

  --order-tracking-registered-bg-light: var(--tertiary-pink-100);
  --order-tracking-preparation-bg-light: var(--tertiary-orange-100);
  --order-tracking-ready-to-deliver-bg-light: var(--confirmation-2);
  --order-tracking-delivered-bg-light: var(--primary-1-10);
  --order-tracking-canceled-bg-light: var(--error);

  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--neutral-0);
  font-size: 16px !important;
  height: auto;
  min-height: 100vh;
}

main {
  background: var(--neutral-0);
  margin: auto;
  width: 100%;
}

p,
span,
ul,
li,
button,
a,
select,
option,
h1,
h2,
h3,
h4 {
  color: var(--neutral-1);
}

.debug {
  outline: 1px solid #ff2d55;
}

.container {
  margin: 0 auto;
  max-width: var(--max-width-container);
  padding: 0 16px;
  width: 100%;

  @media screen and (width >= 1024px) {
    padding: 0;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: unset;
  font-family: var(--font-noto);
}
