.header-gestor {
    color: var(--neutral-1);
    padding: 0 15px;
    background-color: var(--neutral-0);
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.13);
    justify-content: space-between;
}